:root {
  --backColor: rebeccapurple;
  --textColor: lime;
  --fontS: 20px;
}

h1 {

  background-color: var(--backColor, red);
  color: var(--textColor);
}

p, pre {
  user-select: all;

  font-size: var(--fontS, 20px);
  color: var(--textColor);
  background-color: var(--backColor, black);

  writing-mode: vertical-rl;
  text-orientation: upright;
}

body {
  background: linear-gradient(to right, red, yellow);
  /* background-color: antiquewhite; */
}